body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(15, 23, 42);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color:white;
}

.card {
    display:flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    height: 450px;

    margin:auto;
    margin-top: 100px;

    border: 4px solid rgb(30, 41, 59);
    border-radius: 20px;

    background-color: rgb(2, 6, 23);

    cursor: pointer;
}

.card-body {
    padding: 10px;

    display:flex;
    flex-direction: column;
    align-items: center;
}


.structure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}